@import url('https://fonts.googleapis.com/css2? family = Baloo + 2: wght @ 400; 500; 600; 700 & family = Dosis: wght @ 200; 700 & family = Josefin + Placa: ital, peso @ 0,300; 0,400; 0,500; 0,600; 0,700; 1.200; 1.300; 1.400; 1.500; 1.600; 1.700 & family = Lustria & family = Montserrat: ital, wght @ 0,100; 0,200; 0,600; 1.300; 1.600 & family = Mulish: ital, wght @ 0,200; 0,300; 0,400; 0,500; 1,200; 1,300; 1,400 & family = Fonte + Sans + Pro: ital, wght @ 0,200; 0,300; 0,400; 0,600; 0,700; 1,200; 1,300; 1.600; 1.700 & display = swap ');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

@media (max-width: 850px) {
    container {
        flex-direction: column;
        align-items: flex;
    }
    
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    overflow: hidden; 
}

/*Config Preloader*/
.container .preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#050505; 
    z-index: 600; 
}
.container .preloader .inner {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);  
}
.container .bolas > div {
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.bolas > div:nth-child(1) {
    animation-duration:0.65s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.65s ;
    animation-delay: 0.5s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.65s  ;
    animation-delay: 0.10s;
}

@keyframes animarBola {
    0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8;
    }
    16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.4;
    }
    33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6; 
    } 
}

html {
    scroll-behavior: smooth;
}

.home {
    margin: 0;
    width: 100%;        
    position: fixed;    
    display: flex;
}

.menu {
    margin: 0;
    display: flex;    
    align-items: center;    
    position: fixed; 
    z-index: 11;
}

/*Configuração do Logo*/
.home .logo {
    float:left;
    margin: 0;         
    max-width: 10%;
    max-height: 10%;           
    display: flex;    
    align-items: center;
    justify-content: space-between;
    border: none;    
}

#logo img {
    margin: 0;     
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.logo:hover h1:hover {
    cursor: pointer;
    opacity: 1;
}

.logo h1{
    height: 2px;
    margin: 0;
    padding: 15px;
    font-size: 2rem;
    color: #692e92;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Configuração dos botões do Menu*/
.menu button {
    width: 100%;
    height: 2rem;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;    
}

.menu ul{
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 5px;
    position: fixed;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}

.menu li a{
    width: 100%;
    height: 10rem;
    margin: 0;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: #b082d1;
}

.home .cad a{
    width: 100%;
    height: 10rem;
    margin: 0;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: #eb3c08;
}

li:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1)
}

/*Configuração Menu hamburguer*/
.hamburguer {
    /*background-color: bisque;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    top:50%;
    left:1%;    
    z-index: 100;
    right: 2rem;
    top: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 0.9s;
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .30rem);
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.53rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #692e92;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
    z-index: 100;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .7rem solid #692e92;
    border-top: .8rem solid transparent;
    border-left: .7rem solid transparent;
    border-bottom: .8rem solid transparent;
    left: -1.3rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.9s;
    z-index: 10;
}

.show-menu .sidebar {
    left: 0;
}

.menuSidebar {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menuSidebar h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.menu-item {
    text-align: left;
    color: #753a88;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-action);
    color: rgb(90, 16, 133);
    font-size: 1.6rem;
    transition: color 0.8s;
}

.menu-link:hover {
    color: #692e92;
    text-shadow: .3rem .3rem 1px rgba(0, 0, 0, .1);
}

/*Configuração campo de busca*/
.busca{
    background-color: #ccb4dd;
    background-repeat: no-repeat;
    border:solid 2px #8c6ea1;
    border-radius:6px;
    width:285px;
    height:21px;
    left: 15rem;
    padding: 0.5px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;        
}

.busca #txtBusca{
    float:right;
    background-color:transparent; 
    font-size: 1rem;     
    border:none;
    height:30px;
    width:190px;
    outline: none;
    display: flex;
    align-items: center;
}

.busca #btnBusca{
    border:none;
    float:right;
    height:22px;
    border-radius:0 9px 9px 1.5;
    width:200px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    background:#a33dec;    
}

.busca #btnBusca:hover {
    opacity: .8;
    cursor: pointer;
    opacity: 3;
    color: rgb(247, 242, 245);
}

.btnBuscar img{
    float:left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 100%;    
}

/*Configuração slider de filmes*/
.banner{
    width: 100%;
    height: 550px;  
    margin: 0; 
    overflow: hidden;
    background-color: black;    
}

.slider {
    display: block;    
    width: 100%;
    height: 100vh;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 0;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover;
    background: no-repeat;    
    /*vertical-align: top;*/
    object-fit: cover;    
}

.slider input {
    display: none;
}

.slider label {
    background-color: rgb(176, 27, 206);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    right: 10px;
}

.slider li:nth-child(2) label {
    right: 40px;
}

.slider li:nth-child(3) label {
    right: 70px;
}

.slider li:nth-child(4) label {
    right: 100px;
}

.slider li:nth-child(5) label {
    right: 130px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/*Configuração sessão categorias*/
.categorias {
    width: 100%;
    height:2rem;
    margin: 0;    
    overflow: hidden;
    /*position: fixed;*/
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.categorias ul{
    width: 100%;
    height: 4rem;  
    overflow: hidden;  
    /*position: fixed;*/
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    align-items: baseline;
    justify-content: space-evenly;
    background-color: black;
}

.categorias button {
    margin: 0;
    width: 8rem;
    height: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8rem;
    color: #fff;
    border-radius: .6rem;
    border: none;
    background-color: rgb(43, 5, 43);
    background: -webkit-linear-gradient(to right, #33032f, #2d033b);  
    background: linear-gradient(to right, #a734a1, #360746);
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);    
}

.categorias button:hover {
    opacity: .8;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

/*Configuração Cards*/
.cards {
    margin: 0;
    background-color: #000;
    width: 100%;
    height: 36rem;
}

.cards-header {
    display: flex;
    align-items: left;
    justify-content: left;
}

.cards-header h1 {
    color: #692e92;
    font-size: 2rem; 
    margin-top: 2.5rem;   
    border-bottom: solid 2px #692e92;
    width: 20%;
}

.top-stars {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;    
    background-color: #000;
}

.card {
    width: 15rem;
    height: 20rem;    
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-img-wrapper img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem; 
    cursor: pointer;   
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;    
}

.card:hover .card-img-wrapper img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card .top-stars .card-info {
    display: flex;
    align-items: bottom;
    margin: 0;
    height: 2rem;
    position: bottom;
    bottom: 0;
    padding: 1rem;
    text-shadow: 0.4rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    background-color: black;    
    /*transition: all .5s;*/
}

.top-stars .card-info h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    color: #7a02cf;
    margin-top: 1rem;
    height: 2rem;
}

.top-stars .card-info {
    background-color: #000;
    width: 100%;
    height: 5rem;
}

.card-info button {
    width: 8rem;
    height: 2rem;
    margin-top: .5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: .6rem;
    border: none;   
    background-color: rgb(43, 5, 43);
    background: -webkit-linear-gradient(to right, #33032f, #2d033b);  
    background: linear-gradient(to right, #a734a1, #360746);
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);   
}


.card-info button:hover {
    opacity: .8;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

/*Configuração de Estrelas*/
.estrelas input[type=radio] {
    display: none;       
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }
  .estrelas p {
    color: white;
    font-size: .8rem;
  }

/*Configuração section pop*/
.cards2 {
    justify-content: space-evenly;
    margin: 0;
    background-color: #000;
    width: 100%;
    height: 36rem;
    
}

.cards-header2 {
    display: flex;
    align-items: left;
    justify-content: left;
}

.cards-header2 h1 {
    color: #692e92;
    font-size: 2rem; 
    margin-top: 2.5rem;   
    border-bottom: solid 2px #692e92;
    width: 20%;
}

.pop {  
    /*display: flex;
    align-items: center;*/
    /*justify-content: space-evenly;*/
    margin-top: 3rem;
    margin-bottom: 3rem;    
    background-color: #000;
    position: relative;
}

.cardspop {    
    overflow: hidden;      
    display: flex;
    /*flex-wrap: wrap;*/
    list-style: none;
    /*align-items: center;*/
    /*justify-content: space-evenly;*/
    background-color: black;
    width: 15rem;
    height: 20rem;    
    /*position: relative;*/
    margin-top: 2rem;
}
.pop-img-wrapper {    
    background-color: #000000;
    border-radius: .5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}


.pop-img-wrapper img {        
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 20rem;
    border-radius: .5rem; 
    cursor: pointer;         
}

/*.pop-img-wrapper:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.02);
}*/

.cardspop .popcard-info {
    background-color: #000;
    width: 100%;
    height: 5rem;
    
}

.popcard-info {
    display: flex;
    align-items: bottom;
    margin: 0;
    height: 2rem;
    position: bottom;
    bottom: 0;
    padding: 1rem;
    text-shadow: 0.4rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    background-color: black;
}

.card-info h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    color: #7a02cf;
    margin-top: 1rem;
    height: 2rem;
}



.popcard-info button {
    width: 8rem;
    height: 2rem;
    margin-top: .5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: .6rem;
    border: none;   
    background-color: rgb(43, 5, 43);
    background: -webkit-linear-gradient(to right, #33032f, #2d033b);  
    background: linear-gradient(to right, #a734a1, #360746);
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);      
}


.popcard-info button:hover {
    opacity: .8;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.pop .botao {
    z-index: 2;
    position: absolute;
    top: 50%;    
    transform: translateY(-50%);
    left: 50px;
    font-size: 1.5rem;
    border-radius: .6rem;
    cursor: pointer;
    background: -webkit-linear-gradient(to right, #33032f, #2d033b);  
    background: linear-gradient(to right, #a734a1, #360746);
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4); 
}

.pop .botaodireira {
    left: auto;
    right: 50px;
    position: absolute;
}

/*Formatação Footer*/
footer {
    width: 100%;
    height: 6rem;
    background-color: #0c0c0c;
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}

.footer-content {
    width: 90%;
    display: flex;    
    justify-content: space-evenly;    
    margin-left: 5rem;
    margin-right: 5rem;    
    margin-top: 1rem;
}

.footer-content p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: #5b118d;
}

.media  button {   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    font-size: 1.1rem;
    border-radius: .3rem;
    color: #5b118d;    
    cursor: pointer;
}

.media button:hover  {
    background-color: purple;
    background: -webkit-linear-gradient(to right, #cc2b5e, #753a88);  
    background: linear-gradient(to right, #cc2b5e, #753a88);
}